// 主体色
$mainGreen: #009879;
$mainGrey: #ece1D2;
$mainYellow: #F2CC84;
$mainBlue: #3F5678;

// 基础色
$white: #fff;
$red: #C03639;

// 字体色
$font999: #999;
$font666: #666;
$font333: #333;

// Sidebar
$sideBarWidth: 210px;
$subMenuBg:#1f2d3d;
$subMenuHover:#001528;
$subMenuActiveText:#f4f4f5;
$menuBg:#304156;
$menuText:#bfcbd9;
$menuActiveText:#409EFF; // Also see settings.sidebarTextTheme

// Login page
$lightGray: #eee;
$darkGray:#889aa4;
$loginBg: #2d3a4b;
$loginCursorColor: #fff;